<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLoginSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.AdminLoginSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegisterSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.StudentRegisterSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.StudentLoginSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAlumniSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.RegisterAlumniSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumniLoginSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.AlumniLoginSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanytRegisterSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.CompanytRegisterSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyLoginSessionServelt</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.CompanyLoginSessionServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyAddJobSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.CompanyAddJobSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentViewJobSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.StudentViewJobSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentViewJobByQualificationSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.StudentViewJobByQualificationSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumniViewJobSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.AlumniViewJobSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumniViewJobByQualificationSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.AlumniViewJobByQualificationSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewByCompanyNameSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.ViewByCompanyNameSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveJobByCompanyNameSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.RemoveJobByCompanyNameSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentPasswordSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.StudentPasswordSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanypasswordSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.CompanypasswordSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumniPasswordSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.icep.controller.AlumniPasswordSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginSessionServlet</servlet-name>
        <url-pattern>/AdminLoginSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegisterSessionServlet</servlet-name>
        <url-pattern>/StudentRegisterSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginSessionServlet</servlet-name>
        <url-pattern>/StudentLoginSessionServlet.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/student-invalid-account.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>RegisterAlumniSessionServlet</servlet-name>
        <url-pattern>/RegisterAlumniSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumniLoginSessionServlet</servlet-name>
        <url-pattern>/AlumniLoginSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanytRegisterSessionServlet</servlet-name>
        <url-pattern>/CompanytRegisterSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyLoginSessionServelt</servlet-name>
        <url-pattern>/CompanyLoginSessionServelt.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyAddJobSessionServlet</servlet-name>
        <url-pattern>/CompanyAddJobSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentViewJobSessionServlet</servlet-name>
        <url-pattern>/StudentViewJobSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentViewJobByQualificationSessionServlet</servlet-name>
        <url-pattern>/StudentViewJobByQualificationSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumniViewJobSessionServlet</servlet-name>
        <url-pattern>/AlumniViewJobSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumniViewJobByQualificationSessionServlet</servlet-name>
        <url-pattern>/AlumniViewJobByQualificationSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewByCompanyNameSessionServlet</servlet-name>
        <url-pattern>/ViewByCompanyNameSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveJobByCompanyNameSessionServlet</servlet-name>
        <url-pattern>/RemoveJobByCompanyNameSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPasswordSessionServlet</servlet-name>
        <url-pattern>/StudentPasswordSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanypasswordSessionServlet</servlet-name>
        <url-pattern>/CompanypasswordSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumniPasswordSessionServlet</servlet-name>
        <url-pattern>/AlumniPasswordSessionServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
